/*   font-family: "Golos Text", sans-serif; */
/*   font-family: "Inter Tight", sans-serif; */
/*   font-family: "Cal Sans", sans-serif; */
/*   font-family: "Space Grotesk", sans-serif; */
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
header {
  transition: all 0.4s ease-in-out;
  padding: 0;
  border-radius: 0;
  .container {
    padding: 0 !important;
    max-width: 2560px !important;

    .head {
      width: 100%;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
      /* border-bottom: 1px solid #59585d; */
      background-color: #ffffff;
      transition: all 0.4s ease-in-out;
      padding: 0 2px;
      border-radius: 0;
      nav {
        font-family: "Golos Text", sans-serif;
        .yell {
          color: #0b0900;
        }
        a {
          color: #1c1c1d;
          font-weight: 500;
          font-size: 16px;
          transition: 400ms;
          &:hover {
            color: #fed403;
            transform: scale(1.2);
          }
        }
        @media (max-width: 1024px) {
          display: none !important;
        }
      }
      svg {
        color: #1c1c1d;
        cursor: pointer;
        border-radius: 100%;
        padding: 7px;
        border: 1px solid #ebebeb;
        &:hover {
          color: #fed403 !important;
        }
      }
      button {
        width: 182px;
        height: 50px;
        font-size: 16px;
        font-weight: 500;
        font-family: "Golos Text", sans-serif;
        background-color: #fed403;
        border-radius: 5px;
        transition: 300ms;
        &:hover {
          color: #ffffff;
          transform: scale(1.05);
        }
        @media (max-width: 1024px) {
          display: none !important;
        }
      }
      .off1 {
        width: 300px;
        background-color: #313131;
        .off3 {
          a {
            padding-bottom: 15px;
            padding-top: 15px;
            color: #ffffff;
            font-size: 17px;
            font-family: "Golos Text", sans-serif;
            font-weight: 400;
            border-bottom: 1px solid #3c3e3f;
            transition: 300ms;
            &:hover {
              color: #fed403;
            }
          }
        }
      }
    }
  }
}
#sec-1 {
  padding: 80px 0px;
  .container {
    @media (min-width: 1025px) {
      max-width: 1300px !important;
    }
    @media (min-width: 768px) and (max-width: 1024px) {
      max-width: 800px;
    }
    /* Left */
    .Left_img {
      overflow: hidden;
      @media (max-width: 1024px) {
        padding-bottom: 20px;
        width: 100%;
      }
      img {
        animation-duration: 2s;
        border-radius: 5px;
        @media (max-width: 767px) {
          width: 95%;
        }
      }
    }
    /* Right */
    .all-right {
      /* Top */
      @media (min-width: 768px) and (max-width: 1024px) {
        width: 100%;
      }
      .text-top {
        .p1 {
          font-size: clamp(14px, 3vw, 16px);
          text-transform: uppercase;
          font-family: "Golos Text", sans-serif;
          font-weight: 400;
          color: #59585d;
          @media (max-width: 1024px) {
            padding-top: 10px;
          }
        }
        h2 {
          font-size: clamp(32px, 4vw, 52px);
          font-family: "Cal Sans", sans-serif;
          font-weight: 500;
          color: rgb(28 28 29);
          animation-duration: 2s;
        }
        .p2 {
          font-size: clamp(16px, 2vw, 18px);
          font-family: "Golos Text", sans-serif;
          font-weight: 200;
          color: #59585d;
          @media (max-width: 767px) {
            padding-top: 15px;
            width: 75%;
          }
          @media (min-width: 767px) and (max-width: 1024px) {
            padding-top: 15px;
            width: 80%;
          }
        }
      }
      /* bottom */
      .all-bottom {
        @media (min-width: 1025px) {
          padding-top: 20px;
        }
        /* Left */
        .b-left {
          @media (max-width: 1024px) {
            padding-bottom: 20px;
            width: 100%;
          }
          .text-3 {
            @media (max-width: 1024px) {
              padding-bottom: 30px;
            }
            @media (min-width: 1025px) {
              padding-bottom: 25px;
            }
            span {
              @media (max-width: 1024px) {
                padding-bottom: 20px;
                width: 100%;
              }
              font-size: clamp(16px, 3vw, 18px);
              font-family: "Golos Text", sans-serif;
              font-weight: 400;
              color: rgb(28 28 29);
              cursor: pointer;
              transition: 300ms;
              &:hover{
                color: #fed403;
              }
            }
          }
          .text-and-button {
            p {
              font-size: 16px;
              color: #59585d;
              font-family: "Golos Text", sans-serif;
              font-weight: 400;
            }
            .bt {
              @media (min-width: 1025px) {
                padding-top: 35px;
              }
              button {
                width: 172px;
                height: 51px;
                font-size: 16px;
                font-weight: 500;
                font-family: "Golos Text", sans-serif;
                background-color: #fed403;
                border-radius: 5px;
                border: 0;
                transition: 400ms;
                &:hover {
                  background-color: #333335;
                  color: #ffffff;
                }
              }
            }
          }
        }
        .b-right {
          @media (min-width: 768px) and (max-width: 1024px) {
            width: 70%;
          }
          .imgg {
            @media (max-width: 1024px) {
              padding-top: 30px;
            }
            img {
              width: 100%;
              object-fit: cover;
              border-radius: 5px;
            }
          }
          p {
            @media (min-width: 1025px) {
              padding-top: 15px;
              margin: 0;
            }
            font-size: 16px;
            color: #59585d;
            font-family: "Golos Text", sans-serif;
            font-weight: 400;
          }
          .experience {
            width: 65%;
            .sp1 {
              font-size: 60px;
              color: rgb(28 28 29);
              font-family: "Cal Sans", sans-serif;
              font-weight: 700;
            }
            .sp2 {
              font-size: 20px;
              color: rgb(28 28 29);
              font-family: "Cal Sans", sans-serif;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}