/*   font-family: "Golos Text", sans-serif; */
/*   font-family: "Inter Tight", sans-serif; */
/*   font-family: "Cal Sans", sans-serif; */
/*   font-family: "Space Grotesk", sans-serif; */
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
@keyframes inmy {
  0% {
    transform: translateX(20px);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(20px);
  }
}
.gg {
  background-color: #fed403;
  .gg1 {
    div {
      width: 20px;
      height: 24px;
      svg {
        color: #fed403;
      }
    }
    p {
      font-size: 14px;
      font-family: "Golos Text", sans-serif;
      font-weight: 400;
      color: rgb(28 28 29);
    }
    a {
      font-size: 14px;
      font-family: "Golos Text", sans-serif;
      font-weight: 400;
      color: rgb(28 28 29);
    }
  }
  .gg2 {
    p {
      cursor: pointer;
      font-size: 14px;
      font-family: "Golos Text", sans-serif;
      font-weight: 400;
      color: rgb(28 28 29);
    }
  }
}
header {
  padding-top: 40px !important;
  transition: all 0.4s ease-in-out;
  padding: 0;
  border-radius: 0;
  .container {
    padding: 0 !important;
    max-width: 2560px !important;

    .head {
      width: 100%;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
      background-color: #ffffff;
      transition: all 0.4s ease-in-out;
      padding: 0 2px;
      border-radius: 0;
      nav {
        font-family: "Golos Text", sans-serif;
        .yell {
          color: #0b0900;
        }
        a {
          color: #1c1c1d;
          font-weight: 500;
          font-size: 16px;
          transition: 400ms;
          &:hover {
            color: #fed403;
            transform: scale(1.2);
          }
        }
        @media (max-width: 1024px) {
          display: none !important;
        }
      }
      svg {
        color: #1c1c1d;
        cursor: pointer;
        border-radius: 100%;
        padding: 7px;
        border: 1px solid #ebebeb;
        &:hover {
          color: #fed403 !important;
        }
      }
      button {
        width: 182px;
        height: 50px;
        font-size: 16px;
        font-weight: 500;
        font-family: "Golos Text", sans-serif;
        background-color: #fed403;
        border-radius: 5px;
        transition: 300ms;
        &:hover {
          color: #ffffff;
          transform: scale(1.05);
        }
        @media (max-width: 1024px) {
          display: none !important;
        }
      }
      .off1 {
        width: 300px;
        background-color: #313131;
        .off3 {
          a {
            padding-bottom: 15px;
            padding-top: 15px;
            color: #ffffff;
            font-size: 17px;
            font-family: "Golos Text", sans-serif;
            font-weight: 400;
            border-bottom: 1px solid #3c3e3f;
            transition: 300ms;
            &:hover {
              color: #fed403;
              transform: translateX(10px);
            }
          }
        }
      }
    }
  }
}
header.scrolled {
  padding-top: 0 !important;
}
#bg {
  @media (min-width: 1025px) {
    padding: 70px 0px;
  }
  background-image:
    linear-gradient(rgba(26, 23, 23, 0.712)), url(./images/bg-projects.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  .container {
    .back {
      padding-top: 60px;
      a {
        font-size: 15px;
        font-family: "Golos Text", sans-serif;
        font-weight: 500;
        color: #ffffff;
        transition: 300ms;
        &:hover {
          color: #fed403;
        }
      }
      .p1 {
        font-size: 25px;
        font-family: "Golos Text", sans-serif;
        font-weight: 500;
        color: #ffffff;
        margin: 0;
      }
      .p2 {
        font-size: 15px;
        font-family: "Golos Text", sans-serif;
        font-weight: 500;
        color: #ffffff90;
        margin: 0;
      }
    }
    h3 {
      font-size: clamp(34px, 4vw, 54px);
      font-family: "Cal Sans", sans-serif;
      font-weight: 400;
      color: #ffffff;
    }
    .title {
      color: white;
      position: relative;
      padding-bottom: 15px;
    }
    .title::after {
      content: "";
      position: absolute;
      bottom: 0;
      /* left: 50%; */
      right: 30%;
      width: 150px;
      height: 2px;
      background-color: #fed403;
      @media (min-width: 768px) and (max-width: 1024px) {
        right: 40%;
      }
      @media (min-width: 1025px) {
        right: 43%;
      }
    }
    .p3 {
      @media (min-width: 1024px) {
        width: 60%;
      }
      padding-top: 15px;
      font-size: 16px;
      font-family: "Golos Text", sans-serif;
      font-weight: 400;
      color: rgb(227 224 220);
    }
  }
}
#sec-2 {
    padding-top: 100px;
  .container {
    .topp{
        padding-bottom: 35px;
    .spa {
      width: 100%;
      color: #999;
    }
    .but_pirant {
      button {
        width: 152px;
        height: 38px;
        font-family: "Golos Text", sans-serif;
        font-weight: 400;
        border-radius: 3px;
        color: rgb(28 28 29);
        background-color: #ffffff;
        border: 1px solid #3e3e3e;
        transition: 300ms;
        &:hover {
          background-color: #fed403;
          color: rgb(28 28 29);
        }
      }
      .but1 {
        width: 116px;
        height: 38px;
        font-family: "Golos Text", sans-serif;
        font-weight: 400;
        border-radius: 3px;
        color: rgb(28 28 29);
        background-color: #fed403;
        border: 1px solid #3e3e3e;
        border: 0;
      }
    }
}
.div_pirant {
    transition: 500ms;
    div {
    position: relative;
      transition: 300ms;
      img{
        width: 100%;
      }
      &:hover {
        .text {
          opacity: 1;
          /* transform: translateY(0); */
        }
      }
      img {
        object-fit: cover;
      }
      .pp {
        /* width: 350px; */
        height: 100%;
        background-color: #00000068;
      }
    }
    .text {
      opacity: 0;
      transition: all 0.4 ease;
      overflow: hidden;
      width: 100%;
      height: 60%;
      position: absolute;
      bottom: 0;
      background-color: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(10px);
      padding: 40px 20px;
      h5 {
        font-size: 22px;
        color: #ffffff;
        font-family: "Cal Sans", sans-serif;
        font-weight: 400;
        transition: 300ms;
        &:hover {
          color: #fed403;
        }
      }
      p {
        font-size: 17px;
        color: #ffffff;
        font-family: "Golos Text", sans-serif;
        font-weight: 400;
      }
      button {
        background-color: transparent;
        border: 0;
        font-size: 17px;
        font-family: "Golos Text", sans-serif;
        font-weight: 400;
        color: #ffffff;
        transition: 300ms;
        &:hover {
          color: #fed403;
          transform: translateY(-6px);
        }
      }
    }
  }
  }
}
