/*   font-family: "Golos Text", sans-serif; */
/*   font-family: "Inter Tight", sans-serif; */
/*   font-family: "Cal Sans", sans-serif; */
/*   font-family: "Space Grotesk", sans-serif; */
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
@keyframes inmy {
  0% {
    transform: translateX(20px);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(20px);
  }
}
.gg {
  background-color: #fed403;
  .gg1 {
    div {
      width: 20px;
      height: 24px;
      svg {
        color: #fed403;
      }
    }
    p {
      font-size: 14px;
      font-family: "Golos Text", sans-serif;
      font-weight: 400;
      color: rgb(28 28 29);
    }
    a {
      font-size: 14px;
      font-family: "Golos Text", sans-serif;
      font-weight: 400;
      color: rgb(28 28 29);
    }
  }
  .gg2 {
    p {
      cursor: pointer;
      font-size: 14px;
      font-family: "Golos Text", sans-serif;
      font-weight: 400;
      color: rgb(28 28 29);
    }
  }
}
header {
  padding-top: 40px !important;
  transition: all 0.4s ease-in-out;
  padding: 0;
  border-radius: 0;
  .container {
    padding: 0 !important;
    max-width: 2560px !important;

    .head {
      width: 100%;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
      background-color: #ffffff;
      transition: all 0.4s ease-in-out;
      padding: 0 2px;
      border-radius: 0;
      nav {
        font-family: "Golos Text", sans-serif;
        .yell {
          color: #0b0900;
        }
        a {
          color: #1c1c1d;
          font-weight: 500;
          font-size: 16px;
          transition: 400ms;
          &:hover {
            color: #fed403;
            transform: scale(1.2);
          }
        }
        @media (max-width: 1024px) {
          display: none !important;
        }
      }
      svg {
        color: #1c1c1d;
        cursor: pointer;
        border-radius: 100%;
        padding: 7px;
        border: 1px solid #ebebeb;
        &:hover {
          color: #fed403 !important;
        }
      }
      button {
        width: 182px;
        height: 50px;
        font-size: 16px;
        font-weight: 500;
        font-family: "Golos Text", sans-serif;
        background-color: #fed403;
        border-radius: 5px;
        transition: 300ms;
        &:hover {
          color: #ffffff;
          transform: scale(1.05);
        }
        @media (max-width: 1024px) {
          display: none !important;
        }
      }
      .off1 {
        width: 300px;
        background-color: #313131;
        .off3 {
          a {
            padding-bottom: 15px;
            padding-top: 15px;
            color: #ffffff;
            font-size: 17px;
            font-family: "Golos Text", sans-serif;
            font-weight: 400;
            border-bottom: 1px solid #3c3e3f;
            transition: 300ms;
            &:hover {
              color: #fed403;
              transform: translateX(10px);
            }
          }
        }
      }
    }
  }
}
header.scrolled {
  padding-top: 0 !important;
}
#bg {
  @media (min-width: 1025px) {
    padding: 70px 0px;
  }
  background-image:
    linear-gradient(rgba(26, 23, 23, 0.712)), url(./images/bg-services.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  .container {
    .back {
      padding-top: 60px;
      a {
        font-size: 15px;
        font-family: "Golos Text", sans-serif;
        font-weight: 500;
        color: #ffffff;
        transition: 300ms;
        &:hover {
          color: #fed403;
        }
      }
      .p1 {
        font-size: 25px;
        font-family: "Golos Text", sans-serif;
        font-weight: 500;
        color: #ffffff;
        margin: 0;
      }
      .p2 {
        font-size: 15px;
        font-family: "Golos Text", sans-serif;
        font-weight: 500;
        color: #ffffff90;
        margin: 0;
      }
    }
    h3 {
      font-size: clamp(34px, 4vw, 54px);
      font-family: "Cal Sans", sans-serif;
      font-weight: 400;
      color: #ffffff;
    }
    .title {
      color: white;
      position: relative;
      padding-bottom: 15px;
    }
    .title::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 30%;
      width: 150px;
      height: 2px;
      background-color: #fed403;
      @media (min-width: 768px) and (max-width: 1024px) {
        right: 40%;
      }
      @media (min-width: 1025px) {
        right: 43%;
      }
    }
    .p3 {
      @media (min-width: 1024px) {
        width: 60%;
      }
      padding-top: 15px;
      font-size: 16px;
      font-family: "Golos Text", sans-serif;
      font-weight: 400;
      color: rgb(227 224 220);
    }
  }
}
.sec_2 {
  .container {
    @media (max-width: 992px) {
      max-width: 90%;
    }
    @media (min-width: 1339px) {
      max-width: 1300px;
    }
    main {
      .div_main {
        overflow: hidden;
        background-color: #f6f6f6;
        border-radius: 7px;
        border: 2px solid #e3e3e8;
        transition: 400ms;
        &:hover {
          .animate__animated {
            animation: animate__rubberBand !important;
          }
          .opacit {
            opacity: 1;
            transform: translate(0);
          }
        }
        .up {
          width: 75px;
          height: 75px;
          border-radius: 5px;
          background-color: #59585d2d;
          position: relative;
          .son {
            background-color: rgb(49 49 49);
            width: 75px;
            height: 75px;
            border-radius: 5px;
            position: absolute;
            top: 10px;
            left: 10px;
          }
        }
        h4 {
          cursor: pointer;
          font-size: 22px;
          color: #1c1c1d;
          font-family: "Cal Sans", sans-serif;
          font-weight: 400;
          transition: 400ms;
          &:hover {
            color: #fed403;
          }
        }
        p {
          font-size: 16px;
          color: #59585d;
          font-family: "Golos Text", sans-serif;
          font-weight: 400;
          line-height: 1.68;
          letter-spacing: 3;
        }
        h6 {
          font-size: 14px;
          color: #1c1c1d;
          font-weight: 500;
          font-family: "Golos Text", sans-serif;
          span {
            padding-left: 5px;
          }
          svg {
            width: 27px;
            height: 27px;
            padding: 5px;
            border: 2px solid #e3e3e8;
            border-radius: 100%;
            background-color: #f6f6f6;
            color: #000000;
          }
        }
        button {
          width: 100%;
          height: 60px;
          font-size: 18px;
          font-family: "Golos Text", sans-serif;
          background-color: #1c1c1d00;
          border-radius: 7px;
          border: 2px solid #e3e3e8;
          transition: 400ms;
          &:hover {
            background-color: #fed403;
          }
        }
        .opacit {
          opacity: 0;
          transform: translate(100px, -100px);
          transition: all 0.5s ease;
        }
      }
    }
  }
}
#sec-3 {
  padding-top: 60px;
  button {
    transition: 300ms;
    &:hover {
      background-color: rgb(254 212 3) !important;
      color: rgb(28 28 29) !important;
    }
  }
  .inimation {
    p {
      color: #0b0900;
      padding-top: 15px;
      font-size: 24px;
      font-family: "Cal Sans", sans-serif;
      font-weight: 500;
    }
  }
  div {
    .imgg {
      width: 100%;
      height: 70vh;
      object-fit: cover;
    }
  }
  .div_absol {
    right: 0;
    left: 0;
    top: 65%;
    background-color: rgb(49 49 49);
    @media (max-width: 767px) {
      max-width: 95%;
    }
    @media (min-width: 1025px) {
      max-width: 1300px !important;
    }
    .text_top {
      .p1 {
        font-size: 13px;
        font-family: "Golos Text", sans-serif;
        font-weight: 400;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #ffffff;
      }
      .h2_1 {
        font-size: 45px;
        font-family: "Golos Text", sans-serif;
        font-weight: 600;
        color: #ffffff;
        animation-duration: 3s;
        @media (min-width: 768px) and (max-width: 1024px) {
          font-size: 30px;
        }
      }
      .p2 {
        font-size: 16px;
        font-family: "Golos Text", sans-serif;
        font-weight: 400;
        color: rgb(214 214 214);
      }
    }
    .butt {
      .but1 {
        width: 175px;
        height: 30px;
        border-radius: 15px;
        font-family: "Golos Text", sans-serif;
        font-weight: 400;
        background-color: rgb(254 212 3);
        color: rgb(28 28 29);
        @media (max-width: 767px) {
          width: 100%;
          height: auto;
          font-size: 17px;
          padding: 10px 0;
          border-radius: 30px;
          font-weight: 500;
        }
        @media (min-width: 768px) and (max-width: 992px) {
          width: 100%;
          height: auto;
          font-size: 17px;
          text-align: start;
          padding-left: 30px !important;
          padding: 10px 0;
          border-radius: 30px;
          font-weight: 500;
        }
      }
      .but2 {
        width: 134px;
        height: 30px;
        border-radius: 15px;
        font-family: "Golos Text", sans-serif;
        font-weight: 400;
        background-color: rgb(55 55 55);
        color: rgb(255 255 255);
      }
      .but3 {
        width: 180px;
        height: 30px;
        border-radius: 15px;
        font-family: "Golos Text", sans-serif;
        font-weight: 400;
        background-color: rgb(55 55 55);
        color: rgb(255 255 255);
      }
    }
    hr {
      width: 1150px;
      max-width: 100%;
      color: #ffffff;
    }
    .div_bottom {
      .div_imgg {
        img {
          width: 532px;
          height: 270px;
          @media (max-width: 1024px) {
            width: 100%;
            height: auto;
            padding: 20px 0;
          }
        }
      }
      .div_text {
        h5 {
          padding-bottom: 22px;
          font-size: 24px;
          font-family: "Inter Tight", sans-serif;
          font-weight: 500;
          color: #ffffff;
        }
        .p_parent {
          width: 500px;
          font-size: 17px;
          font-family: "Inter Tight", sans-serif;
          font-weight: 400;
          color: rgb(214 214 214);
          @media (max-width: 767px) {
            width: 250px;
          }
          @media (min-width: 768px) and (max-width: 992px) {
            width: 650px;
          }
        }
        hr {
          width: 520px;
        }
        div {
          p {
            margin: 0;
            padding-bottom: 5px;
            font-size: 17px;
            font-family: "Golos Text", sans-serif;
            font-weight: 200;
            color: #ffffff;
            @media (min-width: 768px) and (max-width: 992px) {
              font-size: 14px;
            }
            span {
              padding: 5px;
            }
            svg {
              padding: 3px;
              width: 20px;
              height: 20px;
              color: white;
              @media (max-width: 992px) {
                border: 1px solid #d6d3d2;
                border-radius: 50%;
              }
            }
          }
        }
        .butt {
          padding-top: 20px;
          button {
            width: 167px;
            height: 30px;
            border-radius: 15px;
            font-family: "Golos Text", sans-serif;
            font-weight: 400;
            background-color: rgb(55 55 55);
            color: rgb(255 255 255);
            @media (max-width: 992px) {
              width: 100%;
              height: auto;
              font-size: 17px;
              text-align: start;
              padding-left: 30px !important;
              padding: 10px 0;
              border-radius: 30px;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
  @media (max-width: 767px) {
    padding-bottom: 82rem;
  }
  @media (min-width: 768px) and (max-width: 992px) {
    padding-bottom: 70rem;
  }
  @media (min-width: 993px) {
    padding-bottom: 32rem;
  }
}
#sec-4 {
  .container {
    @media (min-width: 1339px) {
      max-width: 1300px;
    }
    header {
      span {
        font-size: 12px;
        font-family: "Golos Text", sans-serif;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        color: rgb(28 28 29);
      }
      h2 {
        font-size: clamp(30px, 4vw, 52px);
        font-family: "Cal Sans", sans-serif;
        font-weight: 400;
        color: rgb(28 28 29);
        animation-duration: 3s;
      }
      p {
        font-size: 17px;
        font-family: "Golos Text", sans-serif;
        font-weight: 300;
        color: #59585d;
      }
    }
    aside {
      padding-top: 50px;
      padding-bottom: 130px;
      .gridd {
        .card {
          background-color: #f6f6f6;
          border-radius: 100px 5px 5px 5px;
          border: 1px solid #e3e3e8;
          @media (max-width: 767px) {
            border-radius: 5px;
          }
          &:hover {
            .tex {
              background-color: #fed403;
            }
          }
          .parent {
            img {
              width: 100%;
              border-radius: 100px 0px 0px 100px;
            }
            div {
              width: 50px;
              height: 50px;
              background-color: white;
              border-radius: 50%;
              font-size: 22px;
              font-family: "Golos Text", sans-serif;
              font-weight: 600;
              left: 40%;
              right: 0;
              bottom: -15px;
              transition: 300ms;
              @media (max-width: 767px) {
                left: 73%;
                top: 10%;
              }
            }
          }
          h4 {
            padding-top: 50px;
            font-size: 22px;
            color: #1c1c1d;
            font-family: "Cal Sans", sans-serif;
            font-weight: 400;
            transition: 400ms;
            &:hover {
              color: #fed403;
            }
          }
          p {
            padding-top: 10px;
            font-size: 16px;
            color: #59585d;
            font-family: "Golos Text", sans-serif;
            font-weight: 400;
            line-height: 1.68;
            letter-spacing: 3;
          }
        }
      }
    }
  }
}
#sec-5 {
  background-color: #f6f6f6;
  .container {
    @media (min-width: 1339px) {
      max-width: 1300px;
    }
    header {
      span {
        font-size: 12px;
        font-family: "Golos Text", sans-serif;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        color: rgb(28 28 29);
      }
      h2 {
        font-size: clamp(30px, 4vw, 52px);
        font-family: "Cal Sans", sans-serif;
        font-weight: 400;
        color: rgb(28 28 29);
        animation-duration: 3s;
      }
      p {
        font-size: 17px;
        font-family: "Golos Text", sans-serif;
        font-weight: 300;
        color: #59585d;
      }
    }
    main {
      padding-top: 50px;
      padding-bottom: 130px;
      .gridd {
        .card {
          padding: 35px 25px;
          .spa1 {
            font-size: 12px;
            font-family: "Golos Text", sans-serif;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 2.5px;
            color: rgb(28 28 29);
          }
          .div1 {
            h3 {
              font-size: 40px;
              color: #1c1c1d;
              font-family: "Cal Sans", sans-serif;
              font-weight: 400;
              transition: 400ms;
            }
            span {
              font-size: 19px;
              font-family: "Golos Text", sans-serif;
              font-weight: 500;
              color: #59585d;
            }
          }
          .p1 {
            font-size: 17px;
            font-family: "Golos Text", sans-serif;
            font-weight: 500;
            color: #59585d;
          }
          .div2 {
            padding-top: 15px;
            padding-bottom: 30px;
            button {
              height: 50px;
              background-color: #313131;
              color: #ffffff;
              font-size: 17px;
              font-family: "Golos Text", sans-serif;
              font-weight: 500;
              border: 0;
              transition: 300ms;
              &:hover {
                background-color: #fed403;
                color: #313131;
              }
            }
          }
          .p2,
          .p3,
          .p4,
          .p5 {
            font-size: 17px;
            font-family: "Golos Text", sans-serif;
            font-weight: 400;
            color: rgb(89 88 93);
          }
          .p6,
          .p7 {
            font-size: 17px;
            font-family: "Golos Text", sans-serif;
            font-weight: 400;
            color: rgb(89 88 93);
            opacity: 0.5;
          }
        }
      }
      .gridd2 {
        .card {
          background-color: #313131;
          padding: 35px 25px;
          .spa1 {
            font-size: 12px;
            font-family: "Golos Text", sans-serif;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 2.5px;
            color: white;
          }
          .spa2 {
            hr {
              color: rgb(197, 191, 191);
            }
          }
          .div1 {
            h3 {
              font-size: 40px;
              color: #fed403;
              font-family: "Cal Sans", sans-serif;
              font-weight: 400;
              transition: 400ms;
            }
            span {
              font-size: 19px;
              font-family: "Golos Text", sans-serif;
              font-weight: 500;
              color: #fed403;
            }
          }
          .p1 {
            font-size: 17px;
            font-family: "Golos Text", sans-serif;
            font-weight: 500;
            color: #ffffffb8;
          }
          .div2 {
            padding-top: 15px;
            padding-bottom: 30px;
            button {
              height: 50px;
              background-color: #fed403;
              color: #313131;
              font-size: 17px;
              font-family: "Golos Text", sans-serif;
              font-weight: 500;
              border: 0;
              transition: 300ms;
              &:hover {
                background-color: #ffffff;
                color: #313131;
              }
            }
          }
          .p2,
          .p3,
          .p4,
          .p5 {
            font-size: 17px;
            font-family: "Golos Text", sans-serif;
            font-weight: 400;
            color: #ffffffb8;
          }
          .p6,
          .p7 {
            font-size: 17px;
            font-family: "Golos Text", sans-serif;
            font-weight: 400;
            color: #8a8a8a;
            opacity: 0.5;
          }
        }
      }
      .gridd3 {
        .card {
          padding: 35px 25px;
          .spa1 {
            font-size: 12px;
            font-family: "Golos Text", sans-serif;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 2.5px;
            color: rgb(28 28 29);
          }
          .div1 {
            h3 {
              font-size: 40px;
              color: #1c1c1d;
              font-family: "Cal Sans", sans-serif;
              font-weight: 400;
              transition: 400ms;
            }
            span {
              font-size: 19px;
              font-family: "Golos Text", sans-serif;
              font-weight: 500;
              color: #59585d;
            }
          }
          .p1 {
            font-size: 17px;
            font-family: "Golos Text", sans-serif;
            font-weight: 500;
            color: #59585d;
          }
          .div2 {
            padding-top: 15px;
            padding-bottom: 30px;
            button {
              height: 50px;
              background-color: #313131;
              color: #ffffff;
              font-size: 17px;
              font-family: "Golos Text", sans-serif;
              font-weight: 500;
              border: 0;
              transition: 300ms;
              &:hover {
                background-color: #fed403;
                color: #313131;
              }
            }
          }
          .p2,
          .p3,
          .p4,
          .p5 {
            font-size: 17px;
            font-family: "Golos Text", sans-serif;
            font-weight: 400;
            color: rgb(89 88 93);
          }
          .p6,
          .p7 {
            font-size: 17px;
            font-family: "Golos Text", sans-serif;
            font-weight: 400;
            color: rgb(89 88 93);
            opacity: 0.5;
          }
        }
      }
    }
  }
}
#sec-6 {
  width: 100%;
  background-color: #f6f6f6;
  background-image:
    linear-gradient(45deg, #e3e3e8e9, rgb(255, 255, 255)),
    url(./images/bg_sec_11.png);
  background-repeat: no-repeat;
  background-size: cover;
  .container {
    @media (min-width: 993px) {
      max-width: 1300px !important;
    }
    .parent {
      padding-top: 70px;
      padding-bottom: 100px;
      .data {
        padding: 50px 40px;
        background-color: #313131;
        h3 {
          font-size: clamp(24px, 10vw, 36px);
          color: #ffffff;
          font-family: "Cal Sans", sans-serif;
          font-weight: 400;
        }
        p {
          font-size: 16px;
          color: #ffffff;
          font-family: "Golos Text", sans-serif;
          font-weight: 400;
          padding-bottom: 20px;
        }
        .input-up {
          padding-bottom: 25px;
          input {
            background-color: #3d3d3d;
            padding: 20px 18px;
            border: 0;
            color: #f6f6f6;
            outline: none;
            &:focus {
              border: 1px solid #fed403;
            }
            &::placeholder {
              color: #ffffff;
              font-size: 17px;
              font-family: "Golos Text", sans-serif;
              font-weight: 400;
            }
          }
          textarea {
            background-color: #3d3d3d;
            padding: 20px 18px;
            border: 0;
            color: #ffffff;
            outline: none;
            &:focus {
              border: 1px solid #fed403;
            }
            &::placeholder {
              color: #ffffff;
              font-size: 17px;
              font-family: "Golos Text", sans-serif;
              font-weight: 400;
            }
          }
        }
        button {
          padding: 14px 30px;
          background-color: #fed403;
          color: #1c1c1d;
          border: 0;
          font-size: 16px;
          font-family: "Space Grotesk", sans-serif;
          font-weight: 500;
        }
      }
      .communication-1 {
        @media (min-width: 993px) {
          padding-left: 50px;
        }
        .p1 {
          text-transform: uppercase;
          font-size: 16px;
          font-family: "Golos Text", sans-serif;
          font-weight: 600;
          color: rgb(28 28 29);
          @media (max-width: 992px) {
            padding-top: 50px;
          }
        }
        h2 {
          font-size: clamp(25px, 10vw, 52px);
          font-family: "Cal Sans", sans-serif;
          font-weight: 400;
          padding: 15px 0px;
          color: rgb(28 28 29);
          animation-duration: 3s;
        }
        .p2 {
          font-size: 16px;
          font-family: "Golos Text", sans-serif;
          font-weight: 400;
          color: rgb(89 88 93);
        }
        .communication-2 {
          padding-bottom: 20px;
          .img-up {
            width: 80px;
            height: 80px;
            background-color: #313131;
            &:hover {
              .animate__animated {
                animation: animate__rubberBand !important;
              }
            }
          }
          .contact {
            h4 {
              font-size: 22px;
              font-family: "Cal Sans", sans-serif;
              font-weight: 400;
              color: rgb(28 28 29);
            }
            p {
              font-size: 17px;
              font-family: "Golos Text", sans-serif;
              font-weight: 400;
              color: rgb(89 88 93);
            }
          }
        }
      }
    }
  }
  .icon-grar {
    width: 25%;
    overflow: hidden;
    @media (max-width: 992px) {
      width: 50%;
    }
    img {
      width: 100%;
      animation: inmy 8s infinite;
    }
  }
  .bgb {
    background-image: url(./images/bg_sec11_2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 585px;
    height: 100%;
    z-index: -10;
  }
}
#sec-7 {
  background-color: #313131;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .container_1 {
    padding-bottom: 20px;
    padding-top: 50px;
    @media (min-width: 993px) {
      max-width: 1300px !important;
    }
    img {
      width: 180px !important;
      @media (max-width: 992px) {
        padding-bottom: 30px;
      }
    }
    .line {
      padding-top: clamp(30px, 10vw, 50px);
      color: #6c757d;
    }
    .contac {
      border-bottom: 1px solid #4b5053;
      .cv {
        .p2,
        .p3 {
          font-size: 16px;
          font-family: "Golos Text", sans-serif;
          font-weight: 400;
          color: rgb(139 139 139);
          padding-left: 0;
          cursor: pointer;
          transition: 300ms;
          &:hover {
            color: #fed403;
          }
        }
        .p1,
        .p4 {
          font-size: 16px;
          font-family: "Golos Text", sans-serif;
          font-weight: 400;
          color: rgb(139 139 139);
          transition: 300ms;
          &:hover {
            color: rgb(139 139 139);
          }
        }
        @media (max-width: 992px) {
        }
        .title::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0px;
          width: 50px;
          height: 2px;
          background-color: #fed403;
        }
        .social {
          padding-top: 15px;
          padding-left: 10px;
          border-radius: 100%;
          a {
            justify-content: center;
            align-items: center;
            padding: 5px;
            border: 1px solid rgb(56 56 56);
            border-radius: 100%;
            svg {
              width: 20px;
              height: 20px;
              color: rgb(255 255 255);
              transition: 300ms;
              &:hover {
                color: #0b0900;
                background-color: #fed403;
              }
            }
          }
        }
      }
      .vc {
        @media (min-width: 993px) {
          padding: 0px 50px;
        }
        border-left: 1px solid #4b5053;
        @media (max-width: 992px) {
          border: 0;
        }
        .cv1 {
          h4 {
            font-size: 20px;
            font-family: "Cal Sans", sans-serif;
            font-weight: 400;
            color: #ffffff;
            padding-bottom: 5px;
            padding-top: 0px;
            padding-left: 25px;
            @media (max-width: 992px) {
              padding-top: 25px;
              padding-left: 0;
              border-top: 0;
            }
          }
          .title {
            color: white;
            position: relative;
            padding-bottom: 15px;
          }
          .title::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 25px;
            width: 50px;
            height: 2px;
            background-color: white;
            @media (max-width: 992px) {
              left: 0;
            }
          }
          p {
            cursor: pointer;
            font-size: 16px;
            font-family: "Golos Text", sans-serif;
            font-weight: 400;
            color: #d2d2d2;
            padding-left: 10px !important;
            @media (max-width: 992px) {
              margin-left: -25px;
            }
            @media (min-width: 993px) {
              font-size: 14px;
            }
            transition: 300ms;
            &:hover {
              color: #fed403;
              transform: translateX(15px);
              span {
                opacity: 1;
              }
            }
            span {
              font-size: 20px;
              transition: all 300ms ease;
              opacity: 0;
            }
          }
        }
        .parent {
          padding: 20px 10px;
          background-color: #3c3c3c;
          h3 {
            padding-left: clamp(0px, 3vw, 20px);
            font-size: 24px;
            font-family: "Cal Sans", sans-serif;
            font-weight: 400;
            color: #ffffff;
          }
          .inbut {
            display: flex;
            background-color: #313131;
            padding: 0px 15px;
            input {
              width: 70%;
              height: 50px;
              color: #ffffff;
              background-color: #313131;
              outline: none;
              border: 0;
              &::placeholder {
                color: #ffffff;
                font-family: "Golos Text", sans-serif;
                font-weight: 400;
              }
              @media (max-width: 767px) {
                width: 100%;
              }
              @media (min-width: 768px) and (max-width: 993px) {
                width: 80%;
              }
            }
            button {
              width: 30%;
              height: 35px;
              border: 0;
              border-radius: 5px;
              background-color: #fed403;
              color: rgb(49 49 49);
              font-family: "Golos Text", sans-serif;
              font-weight: 600;
              transition: 300ms;
              &:hover {
                background-color: #e4e4e4;
              }
              @media (max-width: 767px) {
                width: 40%;
              }
              @media (min-width: 768px) and (max-width: 993px) {
                width: 20%;
              }
            }
          }
          button {
            width: 116px;
            height: 37px;
            border: 0;
            border-radius: 5px;
            background-color: #fed403;
            color: rgb(49 49 49);
            font-family: "Golos Text", sans-serif;
            font-weight: 600;
            transition: 300ms;
            &:hover {
              background-color: #e4e4e4;
            }
          }
        }
        .imgg {
          img {
            width: clamp(75px, 12vw, 100px) !important;
            opacity: 0.5;
            transition: 300ms;
            &:hover {
              opacity: 1;
            }
            @media (min-width: 768px) {
              padding-bottom: 75px;
            }
          }
        }
      }
    }
  }
  .container_2 {
    @media (min-width: 993px) {
      max-width: 1300px !important;
    }
    .text {
      .tex1 {
        cursor: pointer;
        transition: 300ms;
        &:hover {
          color: #fed403;
        }
      }
      p {
        font-size: 18px;
        font-family: "Golos Text", sans-serif;
        font-weight: 400;
        color: #afa9a9;
        @media (min-width: 993px) {
          padding-bottom: 15px;
        }
      }
    }
  }
}
.back-to-top {
  position: fixed;
  bottom: 2%;
  right: 2%;
  width: 45px;
  height: 45px;
  background-color: #fed403;
  color: #313131;
  border-radius: 50%;
  border: none;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  cursor: pointer;
  transition: all 0.3s ease;
  svg {
    width: 20px;
    height: 20px;
  }
}
